<a href="https://colab.research.google.com/github/AylinNaebzadeh/Data-Mining-Assignments/blob/main/DataMining_Prj1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mounting Google Drive

In [14]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [15]:
path = "/content/drive/MyDrive/Dataset/"

# Reading CSV files

In [16]:
import pandas as pd

In [17]:
df_column_defs = pd.read_excel(path + 'ColumnDefinitions.xlsx')

df_column_defs

     Variable Name                               Variable Description
0             SEQN                        Respondent sequence number.
1         RIDSTATR  Interview and examination status of the partic...
2         RIAGENDR                         Gender of the participant.
3         RIDAGEYR  Age in years of the participant at the time of...
4         RIDAGEMN  Age in months of the participant at the time o...
...            ...                                                ...
5378        SXQ280              Are you circumcised or uncircumcised?
5379          SEQN                        Respondent sequence number.
5380       URXUTRI                                 Trichomonas, urine
5381          SEQN                         Respondent sequence number
5382        URXUCL                                  Urinary Chlamydia

[5383 rows x 2 columns]

In [31]:
df_demographic = pd.read_csv(path + 'demographic.csv')


for column in df_demographic.columns:
  total_count = len(df_demographic[column])
  zero_count = (df_demographic[column] == 0).sum()
  nan_count = (df_demographic[column].isna()).sum()
  nan_percentage = (nan_count / total_count) * 100
  print(f"Column '{column}': {nan_count} cells with a value of NaN")
  print(f"Column '{column}': {zero_count} cells with a value of 0")
  print(f"Column '{column}': {nan_percentage:.2f}% of cells with a value of NaN")
  print("------------------------------------------------------------------------")

df_demographic.head(n=10)

Column 'SEQN': 0 cells with a value of NaN
Column 'SEQN': 0 cells with a value of 0
Column 'SEQN': 0.00% of cells with a value of NaN
------------------------------------------------------------------------
Column 'SDDSRVYR': 0 cells with a value of NaN
Column 'SDDSRVYR': 0 cells with a value of 0
Column 'SDDSRVYR': 0.00% of cells with a value of NaN
------------------------------------------------------------------------
Column 'RIDSTATR': 0 cells with a value of NaN
Column 'RIDSTATR': 0 cells with a value of 0
Column 'RIDSTATR': 0.00% of cells with a value of NaN
------------------------------------------------------------------------
Column 'RIAGENDR': 0 cells with a value of NaN
Column 'RIAGENDR': 0 cells with a value of 0
Column 'RIAGENDR': 0.00% of cells with a value of NaN
------------------------------------------------------------------------
Column 'RIDAGEYR': 0 cells with a value of NaN
Column 'RIDAGEYR': 405 cells with a value of 0
Column 'RIDAGEYR': 0.00% of cells with a value of NaN
------------------------------------------------------------------------
Column 'RIDAGEMN': 9502 cells with a value of NaN
Column 'RIDAGEMN': 28 cells with a value of 0
Column 'RIDAGEMN': 93.39% of cells with a value of NaN
------------------------------------------------------------------------
Column 'RIDRETH1': 0 cells with a value of NaN
Column 'RIDRETH1': 0 cells with a value of 0
Column 'RIDRETH1': 0.00% of cells with a value of NaN
------------------------------------------------------------------------
Column 'RIDRETH3': 0 cells with a value of NaN
Column 'RIDRETH3': 0 cells with a value of 0
Column 'RIDRETH3': 0.00% of cells with a value of NaN
------------------------------------------------------------------------
Column 'RIDEXMON': 362 cells with a value of NaN
Column 'RIDEXMON': 0 cells with a value of 0
Column 'RIDEXMON': 3.56% of cells with a value of NaN
------------------------------------------------------------------------
Column 'RIDEXAGM': 5962 cells with a value of NaN
Column 'RIDEXAGM': 4 cells with a value of 0
Column 'RIDEXAGM': 58.59% of cells with a value of NaN
------------------------------------------------------------------------
Column 'DMQMILIZ': 3914 cells with a value of NaN
Column 'DMQMILIZ': 0 cells with a value of 0
Column 'DMQMILIZ': 38.47% of cells with a value of NaN
------------------------------------------------------------------------
Column 'DMQADFC': 9632 cells with a value of NaN
Column 'DMQADFC': 0 cells with a value of 0
Column 'DMQADFC': 94.66% of cells with a value of NaN
------------------------------------------------------------------------
Column 'DMDBORN4': 0 cells with a value of NaN
Column 'DMDBORN4': 0 cells with a value of 0
Column 'DMDBORN4': 0.00% of cells with a value of NaN
------------------------------------------------------------------------
Column 'DMDCITZN': 4 cells with a value of NaN
Column 'DMDCITZN': 0 cells with a value of 0
Column 'DMDCITZN': 0.04% of cells with a value of NaN
------------------------------------------------------------------------
Column 'DMDYRSUS': 8267 cells with a value of NaN
Column 'DMDYRSUS': 0 cells with a value of 0
Column 'DMDYRSUS': 81.25% of cells with a value of NaN
------------------------------------------------------------------------
Column 'DMDEDUC3': 7372 cells with a value of NaN
Column 'DMDEDUC3': 277 cells with a value of 0
Column 'DMDEDUC3': 72.45% of cells with a value of NaN
------------------------------------------------------------------------
Column 'DMDEDUC2': 4406 cells with a value of NaN
Column 'DMDEDUC2': 0 cells with a value of 0
Column 'DMDEDUC2': 43.30% of cells with a value of NaN
------------------------------------------------------------------------
Column 'DMDMARTL': 4406 cells with a value of NaN
Column 'DMDMARTL': 0 cells with a value of 0
Column 'DMDMARTL': 43.30% of cells with a value of NaN
------------------------------------------------------------------------
Column 'RIDEXPRG': 8866 cells with a value of NaN
Column 'RIDEXPRG': 0 cells with a value of 0
Column 'RIDEXPRG': 87.14% of cells with a value of NaN
------------------------------------------------------------------------
Column 'SIALANG': 0 cells with a value of NaN
Column 'SIALANG': 0 cells with a value of 0
Column 'SIALANG': 0.00% of cells with a value of NaN
------------------------------------------------------------------------
Column 'SIAPROXY': 1 cells with a value of NaN
Column 'SIAPROXY': 0 cells with a value of 0
Column 'SIAPROXY': 0.01% of cells with a value of NaN
------------------------------------------------------------------------
Column 'SIAINTRP': 0 cells with a value of NaN
Column 'SIAINTRP': 0 cells with a value of 0
Column 'SIAINTRP': 0.00% of cells with a value of NaN
------------------------------------------------------------------------
Column 'FIALANG': 121 cells with a value of NaN
Column 'FIALANG': 0 cells with a value of 0
Column 'FIALANG': 1.19% of cells with a value of NaN
------------------------------------------------------------------------
Column 'FIAPROXY': 121 cells with a value of NaN
Column 'FIAPROXY': 0 cells with a value of 0
Column 'FIAPROXY': 1.19% of cells with a value of NaN
------------------------------------------------------------------------
Column 'FIAINTRP': 121 cells with a value of NaN
Column 'FIAINTRP': 0 cells with a value of 0
Column 'FIAINTRP': 1.19% of cells with a value of NaN
------------------------------------------------------------------------
Column 'MIALANG': 2864 cells with a value of NaN
Column 'MIALANG': 0 cells with a value of 0
Column 'MIALANG': 28.15% of cells with a value of NaN
------------------------------------------------------------------------
Column 'MIAPROXY': 2863 cells with a value of NaN
Column 'MIAPROXY': 0 cells with a value of 0
Column 'MIAPROXY': 28.14% of cells with a value of NaN
------------------------------------------------------------------------
Column 'MIAINTRP': 2862 cells with a value of NaN
Column 'MIAINTRP': 0 cells with a value of 0
Column 'MIAINTRP': 28.13% of cells with a value of NaN
------------------------------------------------------------------------
Column 'AIALANGA': 3858 cells with a value of NaN
Column 'AIALANGA': 0 cells with a value of 0
Column 'AIALANGA': 37.92% of cells with a value of NaN
------------------------------------------------------------------------
Column 'DMDHHSIZ': 0 cells with a value of NaN
Column 'DMDHHSIZ': 0 cells with a value of 0
Column 'DMDHHSIZ': 0.00% of cells with a value of NaN
------------------------------------------------------------------------
Column 'DMDFMSIZ': 0 cells with a value of NaN
Column 'DMDFMSIZ': 0 cells with a value of 0
Column 'DMDFMSIZ': 0.00% of cells with a value of NaN
------------------------------------------------------------------------
Column 'DMDHHSZA': 0 cells with a value of NaN
Column 'DMDHHSZA': 6417 cells with a value of 0
Column 'DMDHHSZA': 0.00% of cells with a value of NaN
------------------------------------------------------------------------
Column 'DMDHHSZB': 0 cells with a value of NaN
Column 'DMDHHSZB': 4907 cells with a value of 0
Column 'DMDHHSZB': 0.00% of cells with a value of NaN
------------------------------------------------------------------------
Column 'DMDHHSZE': 0 cells with a value of NaN
Column 'DMDHHSZE': 7384 cells with a value of 0
Column 'DMDHHSZE': 0.00% of cells with a value of NaN
------------------------------------------------------------------------
Column 'DMDHRGND': 0 cells with a value of NaN
Column 'DMDHRGND': 0 cells with a value of 0
Column 'DMDHRGND': 0.00% of cells with a value of NaN
------------------------------------------------------------------------
Column 'DMDHRAGE': 0 cells with a value of NaN
Column 'DMDHRAGE': 0 cells with a value of 0
Column 'DMDHRAGE': 0.00% of cells with a value of NaN
------------------------------------------------------------------------
Column 'DMDHRBR4': 297 cells with a value of NaN
Column 'DMDHRBR4': 0 cells with a value of 0
Column 'DMDHRBR4': 2.92% of cells with a value of NaN
------------------------------------------------------------------------
Column 'DMDHREDU': 294 cells with a value of NaN
Column 'DMDHREDU': 0 cells with a value of 0
Column 'DMDHREDU': 2.89% of cells with a value of NaN
------------------------------------------------------------------------
Column 'DMDHRMAR': 123 cells with a value of NaN
Column 'DMDHRMAR': 0 cells with a value of 0
Column 'DMDHRMAR': 1.21% of cells with a value of NaN
------------------------------------------------------------------------
Column 'DMDHSEDU': 4833 cells with a value of NaN
Column 'DMDHSEDU': 0 cells with a value of 0
Column 'DMDHSEDU': 47.50% of cells with a value of NaN
------------------------------------------------------------------------
Column 'WTINT2YR': 0 cells with a value of NaN
Column 'WTINT2YR': 0 cells with a value of 0
Column 'WTINT2YR': 0.00% of cells with a value of NaN
------------------------------------------------------------------------
Column 'WTMEC2YR': 0 cells with a value of NaN
Column 'WTMEC2YR': 362 cells with a value of 0
Column 'WTMEC2YR': 0.00% of cells with a value of NaN
------------------------------------------------------------------------
Column 'SDMVPSU': 0 cells with a value of NaN
Column 'SDMVPSU': 0 cells with a value of 0
Column 'SDMVPSU': 0.00% of cells with a value of NaN
------------------------------------------------------------------------
Column 'SDMVSTRA': 0 cells with a value of NaN
Column 'SDMVSTRA': 0 cells with a value of 0
Column 'SDMVSTRA': 0.00% of cells with a value of NaN
------------------------------------------------------------------------
Column 'INDHHIN2': 133 cells with a value of NaN
Column 'INDHHIN2': 0 cells with a value of 0
Column 'INDHHIN2': 1.31% of cells with a value of NaN
------------------------------------------------------------------------
Column 'INDFMIN2': 123 cells with a value of NaN
Column 'INDFMIN2': 0 cells with a value of 0
Column 'INDFMIN2': 1.21% of cells with a value of NaN
------------------------------------------------------------------------
Column 'INDFMPIR': 785 cells with a value of NaN
Column 'INDFMPIR': 105 cells with a value of 0
Column 'INDFMPIR': 7.71% of cells with a value of NaN
------------------------------------------------------------------------

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,73557,8,2,1,69,NaN,4,4,1.0,NaN,...,3.0,4.0,NaN,13281.237386,13481.042095,1,112,4.0,4.0,0.84
1,73558,8,2,1,54,NaN,3,3,1.0,NaN,...,3.0,1.0,1.0,23682.057386,24471.769625,1,108,7.0,7.0,1.78
2,73559,8,2,1,72,NaN,3,3,2.0,NaN,...,4.0,1.0,3.0,57214.803319,57193.285376,1,109,10.0,10.0,4.51
3,73560,8,2,1,9,NaN,3,3,1.0,119.0,...,3.0,1.0,4.0,55201.178592,55766.512438,2,109,9.0,9.0,2.52
4,73561,8,2,2,73,NaN,3,3,1.0,NaN,...,5.0,1.0,5.0,63709.667069,65541.871229,2,116,15.0,15.0,5.00
5,73562,8,2,1,56,NaN,1,1,1.0,NaN,...,4.0,3.0,NaN,24978.144602,25344.992359,1,111,9.0,9.0,4.79
6,73563,8,2,1,0,5.0,3,3,2.0,6.0,...,5.0,1.0,5.0,18040.818432,17913.555067,1,105,15.0,15.0,5.00
7,73564,8,2,2,61,NaN,3,3,2.0,NaN,...,5.0,2.0,NaN,60325.095254,61758.654880,1,114,10.0,10.0,5.00
8,73565,8,1,1,42,NaN,2,2,NaN,NaN,...,3.0,1.0,5.0,23307.675629,0.000000,2,106,15.0,15.0,5.00
9,73566,8,2,2,56,NaN,3,3,1.0,NaN,...,3.0,3.0,NaN,16351.783140,17480.115175,1,112,4.0,4.0,0.48

In [32]:
df_diet = pd.read_csv(path + 'diet.csv')


for column in df_diet.columns:
  total_count = len(df_diet[column])
  zero_count = (df_diet[column] == 0).sum()
  nan_count = (df_diet[column].isna()).sum()
  nan_percentage = (nan_count / total_count) * 100
  print(f"Column '{column}': {nan_count} cells with a value of NaN")
  print(f"Column '{column}': {zero_count} cells with a value of 0")
  print(f"Column '{column}': {nan_percentage:.2f}% of cells with a value of NaN")
  print("----------------------------------------------------------------------------")

df_diet.head(n=10)

Column 'SEQN': 0 cells with a value of NaN
Column 'SEQN': 0 cells with a value of 0
Column 'SEQN': 0.00% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'WTDRD1': 0 cells with a value of NaN
Column 'WTDRD1': 1152 cells with a value of 0
Column 'WTDRD1': 0.00% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'WTDR2D': 1152 cells with a value of NaN
Column 'WTDR2D': 1087 cells with a value of 0
Column 'WTDR2D': 11.74% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1DRSTZ': 0 cells with a value of NaN
Column 'DR1DRSTZ': 0 cells with a value of 0
Column 'DR1DRSTZ': 0.00% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1EXMER': 1030 cells with a value of NaN
Column 'DR1EXMER': 0 cells with a value of 0
Column 'DR1EXMER': 10.50% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DRABF': 1152 cells with a value of NaN
Column 'DRABF': 0 cells with a value of 0
Column 'DRABF': 11.74% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DRDINT': 1152 cells with a value of NaN
Column 'DRDINT': 0 cells with a value of 0
Column 'DRDINT': 11.74% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1DBIH': 1107 cells with a value of NaN
Column 'DR1DBIH': 312 cells with a value of 0
Column 'DR1DBIH': 11.28% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1DAY': 1030 cells with a value of NaN
Column 'DR1DAY': 0 cells with a value of 0
Column 'DR1DAY': 10.50% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1LANG': 1016 cells with a value of NaN
Column 'DR1LANG': 0 cells with a value of 0
Column 'DR1LANG': 10.35% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1MNRSP': 1160 cells with a value of NaN
Column 'DR1MNRSP': 0 cells with a value of 0
Column 'DR1MNRSP': 11.82% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1HELPD': 1185 cells with a value of NaN
Column 'DR1HELPD': 0 cells with a value of 0
Column 'DR1HELPD': 12.08% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DBQ095Z': 1030 cells with a value of NaN
Column 'DBQ095Z': 0 cells with a value of 0
Column 'DBQ095Z': 10.50% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DBD100': 4414 cells with a value of NaN
Column 'DBD100': 0 cells with a value of 0
Column 'DBD100': 44.98% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DRQSPREP': 1030 cells with a value of NaN
Column 'DRQSPREP': 0 cells with a value of 0
Column 'DRQSPREP': 10.50% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1STY': 1030 cells with a value of NaN
Column 'DR1STY': 0 cells with a value of 0
Column 'DR1STY': 10.50% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1SKY': 8365 cells with a value of NaN
Column 'DR1SKY': 0 cells with a value of 0
Column 'DR1SKY': 85.24% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DRQSDIET': 1030 cells with a value of NaN
Column 'DRQSDIET': 0 cells with a value of 0
Column 'DRQSDIET': 10.50% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DRQSDT1': 9290 cells with a value of NaN
Column 'DRQSDT1': 0 cells with a value of 0
Column 'DRQSDT1': 94.67% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DRQSDT2': 9682 cells with a value of NaN
Column 'DRQSDT2': 0 cells with a value of 0
Column 'DRQSDT2': 98.67% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DRQSDT3': 9692 cells with a value of NaN
Column 'DRQSDT3': 0 cells with a value of 0
Column 'DRQSDT3': 98.77% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DRQSDT4': 9776 cells with a value of NaN
Column 'DRQSDT4': 0 cells with a value of 0
Column 'DRQSDT4': 99.62% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DRQSDT5': 9813 cells with a value of NaN
Column 'DRQSDT5': 0 cells with a value of 0
Column 'DRQSDT5': 100.00% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DRQSDT6': 9809 cells with a value of NaN
Column 'DRQSDT6': 0 cells with a value of 0
Column 'DRQSDT6': 99.96% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DRQSDT7': 9667 cells with a value of NaN
Column 'DRQSDT7': 0 cells with a value of 0
Column 'DRQSDT7': 98.51% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DRQSDT8': 9779 cells with a value of NaN
Column 'DRQSDT8': 0 cells with a value of 0
Column 'DRQSDT8': 99.65% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DRQSDT9': 9746 cells with a value of NaN
Column 'DRQSDT9': 0 cells with a value of 0
Column 'DRQSDT9': 99.32% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DRQSDT10': 9791 cells with a value of NaN
Column 'DRQSDT10': 0 cells with a value of 0
Column 'DRQSDT10': 99.78% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DRQSDT11': 9782 cells with a value of NaN
Column 'DRQSDT11': 0 cells with a value of 0
Column 'DRQSDT11': 99.68% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DRQSDT12': 9805 cells with a value of NaN
Column 'DRQSDT12': 0 cells with a value of 0
Column 'DRQSDT12': 99.92% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DRQSDT91': 9738 cells with a value of NaN
Column 'DRQSDT91': 0 cells with a value of 0
Column 'DRQSDT91': 99.24% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TNUMF': 1152 cells with a value of NaN
Column 'DR1TNUMF': 0 cells with a value of 0
Column 'DR1TNUMF': 11.74% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TKCAL': 1282 cells with a value of NaN
Column 'DR1TKCAL': 0 cells with a value of 0
Column 'DR1TKCAL': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TPROT': 1282 cells with a value of NaN
Column 'DR1TPROT': 1 cells with a value of 0
Column 'DR1TPROT': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TCARB': 1282 cells with a value of NaN
Column 'DR1TCARB': 0 cells with a value of 0
Column 'DR1TCARB': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TSUGR': 1282 cells with a value of NaN
Column 'DR1TSUGR': 0 cells with a value of 0
Column 'DR1TSUGR': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TFIBE': 1282 cells with a value of NaN
Column 'DR1TFIBE': 77 cells with a value of 0
Column 'DR1TFIBE': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TTFAT': 1282 cells with a value of NaN
Column 'DR1TTFAT': 2 cells with a value of 0
Column 'DR1TTFAT': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TSFAT': 1282 cells with a value of NaN
Column 'DR1TSFAT': 2 cells with a value of 0
Column 'DR1TSFAT': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TMFAT': 1282 cells with a value of NaN
Column 'DR1TMFAT': 2 cells with a value of 0
Column 'DR1TMFAT': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TPFAT': 1282 cells with a value of NaN
Column 'DR1TPFAT': 2 cells with a value of 0
Column 'DR1TPFAT': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TCHOL': 1282 cells with a value of NaN
Column 'DR1TCHOL': 99 cells with a value of 0
Column 'DR1TCHOL': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TATOC': 1282 cells with a value of NaN
Column 'DR1TATOC': 2 cells with a value of 0
Column 'DR1TATOC': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TATOA': 1282 cells with a value of NaN
Column 'DR1TATOA': 6892 cells with a value of 0
Column 'DR1TATOA': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TRET': 1282 cells with a value of NaN
Column 'DR1TRET': 62 cells with a value of 0
Column 'DR1TRET': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TVARA': 1282 cells with a value of NaN
Column 'DR1TVARA': 11 cells with a value of 0
Column 'DR1TVARA': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TACAR': 1282 cells with a value of NaN
Column 'DR1TACAR': 1256 cells with a value of 0
Column 'DR1TACAR': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TBCAR': 1282 cells with a value of NaN
Column 'DR1TBCAR': 122 cells with a value of 0
Column 'DR1TBCAR': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TCRYP': 1282 cells with a value of NaN
Column 'DR1TCRYP': 896 cells with a value of 0
Column 'DR1TCRYP': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TLYCO': 1282 cells with a value of NaN
Column 'DR1TLYCO': 2263 cells with a value of 0
Column 'DR1TLYCO': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TLZ': 1282 cells with a value of NaN
Column 'DR1TLZ': 98 cells with a value of 0
Column 'DR1TLZ': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TVB1': 1282 cells with a value of NaN
Column 'DR1TVB1': 0 cells with a value of 0
Column 'DR1TVB1': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TVB2': 1282 cells with a value of NaN
Column 'DR1TVB2': 1 cells with a value of 0
Column 'DR1TVB2': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TNIAC': 1282 cells with a value of NaN
Column 'DR1TNIAC': 0 cells with a value of 0
Column 'DR1TNIAC': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TVB6': 1282 cells with a value of NaN
Column 'DR1TVB6': 0 cells with a value of 0
Column 'DR1TVB6': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TFOLA': 1282 cells with a value of NaN
Column 'DR1TFOLA': 3 cells with a value of 0
Column 'DR1TFOLA': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TFA': 1282 cells with a value of NaN
Column 'DR1TFA': 251 cells with a value of 0
Column 'DR1TFA': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TFF': 1282 cells with a value of NaN
Column 'DR1TFF': 74 cells with a value of 0
Column 'DR1TFF': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TFDFE': 1282 cells with a value of NaN
Column 'DR1TFDFE': 3 cells with a value of 0
Column 'DR1TFDFE': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TCHL': 1282 cells with a value of NaN
Column 'DR1TCHL': 2 cells with a value of 0
Column 'DR1TCHL': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TVB12': 1282 cells with a value of NaN
Column 'DR1TVB12': 19 cells with a value of 0
Column 'DR1TVB12': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TB12A': 1282 cells with a value of NaN
Column 'DR1TB12A': 5591 cells with a value of 0
Column 'DR1TB12A': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TVC': 1282 cells with a value of NaN
Column 'DR1TVC': 49 cells with a value of 0
Column 'DR1TVC': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TVD': 1282 cells with a value of NaN
Column 'DR1TVD': 221 cells with a value of 0
Column 'DR1TVD': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TVK': 1282 cells with a value of NaN
Column 'DR1TVK': 5 cells with a value of 0
Column 'DR1TVK': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TCALC': 1282 cells with a value of NaN
Column 'DR1TCALC': 0 cells with a value of 0
Column 'DR1TCALC': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TPHOS': 1282 cells with a value of NaN
Column 'DR1TPHOS': 1 cells with a value of 0
Column 'DR1TPHOS': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TMAGN': 1282 cells with a value of NaN
Column 'DR1TMAGN': 1 cells with a value of 0
Column 'DR1TMAGN': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TIRON': 1282 cells with a value of NaN
Column 'DR1TIRON': 0 cells with a value of 0
Column 'DR1TIRON': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TZINC': 1282 cells with a value of NaN
Column 'DR1TZINC': 0 cells with a value of 0
Column 'DR1TZINC': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TCOPP': 1282 cells with a value of NaN
Column 'DR1TCOPP': 0 cells with a value of 0
Column 'DR1TCOPP': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TSODI': 1282 cells with a value of NaN
Column 'DR1TSODI': 0 cells with a value of 0
Column 'DR1TSODI': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TPOTA': 1282 cells with a value of NaN
Column 'DR1TPOTA': 0 cells with a value of 0
Column 'DR1TPOTA': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TSELE': 1282 cells with a value of NaN
Column 'DR1TSELE': 1 cells with a value of 0
Column 'DR1TSELE': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TCAFF': 1282 cells with a value of NaN
Column 'DR1TCAFF': 2263 cells with a value of 0
Column 'DR1TCAFF': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TTHEO': 1282 cells with a value of NaN
Column 'DR1TTHEO': 4401 cells with a value of 0
Column 'DR1TTHEO': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TALCO': 1282 cells with a value of NaN
Column 'DR1TALCO': 7271 cells with a value of 0
Column 'DR1TALCO': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TMOIS': 1282 cells with a value of NaN
Column 'DR1TMOIS': 0 cells with a value of 0
Column 'DR1TMOIS': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TS040': 1282 cells with a value of NaN
Column 'DR1TS040': 326 cells with a value of 0
Column 'DR1TS040': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TS060': 1282 cells with a value of NaN
Column 'DR1TS060': 355 cells with a value of 0
Column 'DR1TS060': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TS080': 1282 cells with a value of NaN
Column 'DR1TS080': 80 cells with a value of 0
Column 'DR1TS080': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TS100': 1282 cells with a value of NaN
Column 'DR1TS100': 29 cells with a value of 0
Column 'DR1TS100': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TS120': 1282 cells with a value of NaN
Column 'DR1TS120': 15 cells with a value of 0
Column 'DR1TS120': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TS140': 1282 cells with a value of NaN
Column 'DR1TS140': 4 cells with a value of 0
Column 'DR1TS140': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TS160': 1282 cells with a value of NaN
Column 'DR1TS160': 2 cells with a value of 0
Column 'DR1TS160': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TS180': 1282 cells with a value of NaN
Column 'DR1TS180': 3 cells with a value of 0
Column 'DR1TS180': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TM161': 1282 cells with a value of NaN
Column 'DR1TM161': 34 cells with a value of 0
Column 'DR1TM161': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TM181': 1282 cells with a value of NaN
Column 'DR1TM181': 2 cells with a value of 0
Column 'DR1TM181': 13.06% of cells with a value of NaN
----------------------------------------------------------------------------
Column 'DR1TM201': 1282 cells with a value of NaN
Column 'DR1TM201': 57 cells with a value of 0

,SEQN,WTDRD1,WTDR2D,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,DR1LANG,...,DRD370QQ,DRD370R,DRD370RQ,DRD370S,DRD370SQ,DRD370T,DRD370TQ,DRD370U,DRD370UQ,DRD370V
0,73557,16888.327864,12930.890649,1,49.0,2.0,2.0,6.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,73558,17932.143865,12684.148869,1,59.0,2.0,2.0,4.0,1.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
2,73559,59641.812930,39394.236709,1,49.0,2.0,2.0,18.0,6.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,73560,142203.069917,125966.366442,1,54.0,2.0,2.0,21.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,73561,59052.357033,39004.892993,1,63.0,2.0,2.0,18.0,1.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
5,73562,49890.828664,0.000000,1,49.0,2.0,1.0,11.0,3.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
6,73563,31417.217097,40735.782424,4,54.0,1.0,2.0,2.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,73564,78988.755072,52173.157754,1,54.0,2.0,2.0,12.0,7.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
8,73566,30697.880780,0.000000,1,49.0,2.0,1.0,3.0,2.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
9,73567,44503.036020,0.000000,1,61.0,2.0,1.0,16.0,7.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0

In [33]:
df_examination = pd.read_csv(path + 'examination.csv')


for column in df_examination.columns:
  total_count = len(df_examination[column])
  zero_count = (df_examination[column] == 0).sum()
  nan_count = (df_examination[column].isna()).sum()
  nan_percentage = (nan_count / total_count) * 100
  print(f"Column '{column}': {nan_count} cells with a value of NaN")
  print(f"Column '{column}': {zero_count} cells with a value of 0")
  print(f"Column '{column}': {nan_percentage:.2f}% of cells with a value of NaN")
  print("--------------------------------------------------------------------------")

df_examination.head(n=10)

Column 'SEQN': 0 cells with a value of NaN
Column 'SEQN': 0 cells with a value of 0
Column 'SEQN': 0.00% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'PEASCST1': 0 cells with a value of NaN
Column 'PEASCST1': 0 cells with a value of 0
Column 'PEASCST1': 0.00% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'PEASCTM1': 305 cells with a value of NaN
Column 'PEASCTM1': 0 cells with a value of 0
Column 'PEASCTM1': 3.11% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'PEASCCT1': 9493 cells with a value of NaN
Column 'PEASCCT1': 0 cells with a value of 0
Column 'PEASCCT1': 96.74% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BPXCHR': 7852 cells with a value of NaN
Column 'BPXCHR': 0 cells with a value of 0
Column 'BPXCHR': 80.02% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BPAARM': 2278 cells with a value of NaN
Column 'BPAARM': 0 cells with a value of 0
Column 'BPAARM': 23.21% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BPACSZ': 2271 cells with a value of NaN
Column 'BPACSZ': 0 cells with a value of 0
Column 'BPACSZ': 23.14% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BPXPLS': 2264 cells with a value of NaN
Column 'BPXPLS': 0 cells with a value of 0
Column 'BPXPLS': 23.07% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BPXPULS': 302 cells with a value of NaN
Column 'BPXPULS': 0 cells with a value of 0
Column 'BPXPULS': 3.08% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BPXPTY': 2249 cells with a value of NaN
Column 'BPXPTY': 0 cells with a value of 0
Column 'BPXPTY': 22.92% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BPXML1': 2260 cells with a value of NaN
Column 'BPXML1': 0 cells with a value of 0
Column 'BPXML1': 23.03% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BPXSY1': 2641 cells with a value of NaN
Column 'BPXSY1': 0 cells with a value of 0
Column 'BPXSY1': 26.91% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BPXDI1': 2641 cells with a value of NaN
Column 'BPXDI1': 83 cells with a value of 0
Column 'BPXDI1': 26.91% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BPAEN1': 2274 cells with a value of NaN
Column 'BPAEN1': 0 cells with a value of 0
Column 'BPAEN1': 23.17% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BPXSY2': 2404 cells with a value of NaN
Column 'BPXSY2': 0 cells with a value of 0
Column 'BPXSY2': 24.50% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BPXDI2': 2404 cells with a value of NaN
Column 'BPXDI2': 135 cells with a value of 0
Column 'BPXDI2': 24.50% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BPAEN2': 2276 cells with a value of NaN
Column 'BPAEN2': 0 cells with a value of 0
Column 'BPAEN2': 23.19% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BPXSY3': 2405 cells with a value of NaN
Column 'BPXSY3': 0 cells with a value of 0
Column 'BPXSY3': 24.51% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BPXDI3': 2405 cells with a value of NaN
Column 'BPXDI3': 163 cells with a value of 0
Column 'BPXDI3': 24.51% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BPAEN3': 2276 cells with a value of NaN
Column 'BPAEN3': 0 cells with a value of 0
Column 'BPAEN3': 23.19% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BPXSY4': 9298 cells with a value of NaN
Column 'BPXSY4': 0 cells with a value of 0
Column 'BPXSY4': 94.75% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BPXDI4': 9298 cells with a value of NaN
Column 'BPXDI4': 6 cells with a value of 0
Column 'BPXDI4': 94.75% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BPAEN4': 9251 cells with a value of NaN
Column 'BPAEN4': 0 cells with a value of 0
Column 'BPAEN4': 94.27% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMDSTATS': 0 cells with a value of NaN
Column 'BMDSTATS': 0 cells with a value of 0
Column 'BMDSTATS': 0.00% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMXWT': 90 cells with a value of NaN
Column 'BMXWT': 0 cells with a value of 0
Column 'BMXWT': 0.92% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMIWT': 9429 cells with a value of NaN
Column 'BMIWT': 0 cells with a value of 0
Column 'BMIWT': 96.09% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMXRECUM': 8748 cells with a value of NaN
Column 'BMXRECUM': 0 cells with a value of 0
Column 'BMXRECUM': 89.15% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMIRECUM': 9782 cells with a value of NaN
Column 'BMIRECUM': 0 cells with a value of 0
Column 'BMIRECUM': 99.68% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMXHEAD': 9584 cells with a value of NaN
Column 'BMXHEAD': 0 cells with a value of 0
Column 'BMXHEAD': 97.67% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMIHEAD': 9813 cells with a value of NaN
Column 'BMIHEAD': 0 cells with a value of 0
Column 'BMIHEAD': 100.00% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMXHT': 746 cells with a value of NaN
Column 'BMXHT': 0 cells with a value of 0
Column 'BMXHT': 7.60% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMIHT': 9592 cells with a value of NaN
Column 'BMIHT': 0 cells with a value of 0
Column 'BMIHT': 97.75% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMXBMI': 758 cells with a value of NaN
Column 'BMXBMI': 0 cells with a value of 0
Column 'BMXBMI': 7.72% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMDBMIC': 6290 cells with a value of NaN
Column 'BMDBMIC': 0 cells with a value of 0
Column 'BMDBMIC': 64.10% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMXLEG': 2411 cells with a value of NaN
Column 'BMXLEG': 0 cells with a value of 0
Column 'BMXLEG': 24.57% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMILEG': 9463 cells with a value of NaN
Column 'BMILEG': 0 cells with a value of 0
Column 'BMILEG': 96.43% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMXARML': 512 cells with a value of NaN
Column 'BMXARML': 0 cells with a value of 0
Column 'BMXARML': 5.22% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMIARML': 9445 cells with a value of NaN
Column 'BMIARML': 0 cells with a value of 0
Column 'BMIARML': 96.25% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMXARMC': 512 cells with a value of NaN
Column 'BMXARMC': 0 cells with a value of 0
Column 'BMXARMC': 5.22% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMIARMC': 9441 cells with a value of NaN
Column 'BMIARMC': 0 cells with a value of 0
Column 'BMIARMC': 96.21% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMXWAIST': 1152 cells with a value of NaN
Column 'BMXWAIST': 0 cells with a value of 0
Column 'BMXWAIST': 11.74% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMIWAIST': 9374 cells with a value of NaN
Column 'BMIWAIST': 0 cells with a value of 0
Column 'BMIWAIST': 95.53% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMXSAD1': 2595 cells with a value of NaN
Column 'BMXSAD1': 0 cells with a value of 0
Column 'BMXSAD1': 26.44% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMXSAD2': 2595 cells with a value of NaN
Column 'BMXSAD2': 0 cells with a value of 0
Column 'BMXSAD2': 26.44% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMXSAD3': 9455 cells with a value of NaN
Column 'BMXSAD3': 0 cells with a value of 0
Column 'BMXSAD3': 96.35% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMXSAD4': 9455 cells with a value of NaN
Column 'BMXSAD4': 0 cells with a value of 0
Column 'BMXSAD4': 96.35% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMDAVSAD': 2595 cells with a value of NaN
Column 'BMDAVSAD': 0 cells with a value of 0
Column 'BMDAVSAD': 26.44% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'BMDSADCM': 9329 cells with a value of NaN
Column 'BMDSADCM': 0 cells with a value of 0
Column 'BMDSADCM': 95.07% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGDEXSTS': 1522 cells with a value of NaN
Column 'MGDEXSTS': 0 cells with a value of 0
Column 'MGDEXSTS': 15.51% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGD050': 4602 cells with a value of NaN
Column 'MGD050': 0 cells with a value of 0
Column 'MGD050': 46.90% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGD060': 9621 cells with a value of NaN
Column 'MGD060': 0 cells with a value of 0
Column 'MGD060': 98.04% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGQ070': 2062 cells with a value of NaN
Column 'MGQ070': 0 cells with a value of 0
Column 'MGQ070': 21.01% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGQ080': 8872 cells with a value of NaN
Column 'MGQ080': 0 cells with a value of 0
Column 'MGQ080': 90.41% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGQ090': 8872 cells with a value of NaN
Column 'MGQ090': 0 cells with a value of 0
Column 'MGQ090': 90.41% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGQ100': 2061 cells with a value of NaN
Column 'MGQ100': 0 cells with a value of 0
Column 'MGQ100': 21.00% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGQ110': 9058 cells with a value of NaN
Column 'MGQ110': 0 cells with a value of 0
Column 'MGQ110': 92.31% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGQ120': 9058 cells with a value of NaN
Column 'MGQ120': 0 cells with a value of 0
Column 'MGQ120': 92.31% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGD130': 2006 cells with a value of NaN
Column 'MGD130': 0 cells with a value of 0
Column 'MGD130': 20.44% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGQ90DG': 2006 cells with a value of NaN
Column 'MGQ90DG': 0 cells with a value of 0
Column 'MGQ90DG': 20.44% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGDSEAT': 4602 cells with a value of NaN
Column 'MGDSEAT': 0 cells with a value of 0
Column 'MGDSEAT': 46.90% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGAPHAND': 2006 cells with a value of NaN
Column 'MGAPHAND': 0 cells with a value of 0
Column 'MGAPHAND': 20.44% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGATHAND': 2006 cells with a value of NaN
Column 'MGATHAND': 0 cells with a value of 0
Column 'MGATHAND': 20.44% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGXH1T1': 2015 cells with a value of NaN
Column 'MGXH1T1': 0 cells with a value of 0
Column 'MGXH1T1': 20.53% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGXH1T1E': 2015 cells with a value of NaN
Column 'MGXH1T1E': 0 cells with a value of 0
Column 'MGXH1T1E': 20.53% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGXH2T1': 2131 cells with a value of NaN
Column 'MGXH2T1': 0 cells with a value of 0
Column 'MGXH2T1': 21.72% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGXH2T1E': 2131 cells with a value of NaN
Column 'MGXH2T1E': 0 cells with a value of 0
Column 'MGXH2T1E': 21.72% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGXH1T2': 2024 cells with a value of NaN
Column 'MGXH1T2': 0 cells with a value of 0
Column 'MGXH1T2': 20.63% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGXH1T2E': 2024 cells with a value of NaN
Column 'MGXH1T2E': 0 cells with a value of 0
Column 'MGXH1T2E': 20.63% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGXH2T2': 2141 cells with a value of NaN
Column 'MGXH2T2': 0 cells with a value of 0
Column 'MGXH2T2': 21.82% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGXH2T2E': 2141 cells with a value of NaN
Column 'MGXH2T2E': 0 cells with a value of 0
Column 'MGXH2T2E': 21.82% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGXH1T3': 2027 cells with a value of NaN
Column 'MGXH1T3': 0 cells with a value of 0
Column 'MGXH1T3': 20.66% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGXH1T3E': 2027 cells with a value of NaN
Column 'MGXH1T3E': 0 cells with a value of 0
Column 'MGXH1T3E': 20.66% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGXH2T3': 2149 cells with a value of NaN
Column 'MGXH2T3': 0 cells with a value of 0
Column 'MGXH2T3': 21.90% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGXH2T3E': 2149 cells with a value of NaN
Column 'MGXH2T3E': 0 cells with a value of 0
Column 'MGXH2T3E': 21.90% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MGDCGSZ': 2136 cells with a value of NaN
Column 'MGDCGSZ': 0 cells with a value of 0
Column 'MGDCGSZ': 21.77% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'OHDEXSTS': 391 cells with a value of NaN
Column 'OHDEXSTS': 0 cells with a value of 0
Column 'OHDEXSTS': 3.98% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'OHDDESTS': 391 cells with a value of NaN
Column 'OHDDESTS': 0 cells with a value of 0
Column 'OHDDESTS': 3.98% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'OHXIMP': 5494 cells with a value of NaN
Column 'OHXIMP': 0 cells with a value of 0
Column 'OHXIMP': 55.99% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'OHX01TC': 845 cells with a value of NaN
Column 'OHX01TC': 0 cells with a value of 0
Column 'OHX01TC': 8.61% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'OHX02TC': 845 cells with a value of NaN
Column 'OHX02TC': 0 cells with a value of 0
Column 'OHX02TC': 8.61% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'OHX03TC': 845 cells with a value of NaN
Column 'OHX03TC': 0 cells with a value of 0
Column 'OHX03TC': 8.61% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'OHX04TC': 845 cells with a value of NaN
Column 'OHX04TC': 0 cells with a value of 0
Column 'OHX04TC': 8.61% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'OHX05TC': 845 cells with a value of NaN
Column 'OHX05TC': 0 cells with a value of 0
Column 'OHX05TC': 8.61% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'OHX06TC': 845 cells with a value of NaN
Column 'OHX06TC': 0 cells with a value of 0
Column 'OHX06TC': 8.61% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'OHX07TC': 845 cells with a value of NaN
Column 'OHX07TC': 0 cells with a value of 0
Column 'OHX07TC': 8.61% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'OHX08TC': 845 cells with a value of NaN
Column 'OHX08TC': 0 cells with a value of 0
Column 'OHX08TC': 8.61% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'OHX09TC': 845 cells with a value of NaN
Column 'OHX09TC': 0 cells with a value of 0
Column 'OHX09TC': 8.61% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'OHX10TC': 845 cells with a value of NaN
Column 'OHX10TC': 0 cells with a value of 0
Column 'OHX10TC': 8.61% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'OHX11TC': 845 cells with a value of NaN
Column 'OHX11TC': 0 cells with a value of 0
Column 'OHX11TC': 8.61% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'OHX12TC': 845 cells with a value of NaN
Column 'OHX12TC': 0 cells with a value of 0
Column 'OHX12TC': 8.61% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'OHX13TC': 845 cells with a value of NaN
Column 'OHX13TC': 0 cells with a value of 0

,SEQN,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPAARM,BPACSZ,BPXPLS,BPXPULS,BPXPTY,...,CSXLEAOD,CSXSOAOD,CSXGRAOD,CSXONOD,CSXNGSOD,CSXSLTRT,CSXSLTRG,CSXNART,CSXNARG,CSAEFFRT
0,73557,1,620.0,NaN,NaN,1.0,4.0,86.0,1.0,1.0,...,2.0,1.0,1.0,1.0,4.0,62.0,1.0,NaN,NaN,1.0
1,73558,1,766.0,NaN,NaN,1.0,4.0,74.0,1.0,1.0,...,3.0,1.0,2.0,3.0,4.0,28.0,1.0,NaN,NaN,1.0
2,73559,1,665.0,NaN,NaN,1.0,4.0,68.0,1.0,1.0,...,2.0,1.0,2.0,3.0,4.0,49.0,1.0,NaN,NaN,3.0
3,73560,1,803.0,NaN,NaN,1.0,2.0,64.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,73561,1,949.0,NaN,NaN,1.0,3.0,92.0,1.0,1.0,...,3.0,1.0,4.0,3.0,4.0,NaN,NaN,NaN,NaN,1.0
5,73562,1,1064.0,NaN,NaN,1.0,5.0,60.0,1.0,1.0,...,3.0,1.0,2.0,3.0,4.0,21.0,1.0,NaN,NaN,1.0
6,73563,1,90.0,NaN,152.0,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,73564,1,954.0,NaN,NaN,1.0,5.0,82.0,1.0,1.0,...,3.0,1.0,2.0,3.0,4.0,NaN,NaN,12.0,1.0,1.0
8,73566,1,625.0,NaN,NaN,1.0,4.0,86.0,1.0,1.0,...,3.0,1.0,2.0,3.0,4.0,NaN,NaN,20.0,1.0,1.0
9,73567,1,932.0,NaN,NaN,1.0,3.0,70.0,1.0,1.0,...,3.0,1.0,2.0,3.0,4.0,NaN,NaN,54.0,1.0,1.0

In [34]:
df_labs = pd.read_csv(path + 'labs.csv')


for column in df_labs.columns:
  total_count = len(df_labs[column])
  zero_count = (df_labs[column] == 0).sum()
  nan_count = (df_labs[column].isna()).sum()
  nan_percentage = (nan_count / total_count) * 100
  print(f"Column '{column}': {nan_count} cells with a value of NaN")
  print(f"Column '{column}': {zero_count} cells with a value of 0")
  print(f"Column '{column}': {nan_percentage:.2f}% of cells with a value of NaN")
  print("--------------------------------------------------------------------------")

df_labs.head(n=10)

Column 'SEQN': 0 cells with a value of NaN
Column 'SEQN': 0 cells with a value of 0
Column 'SEQN': 0.00% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'URXUMA': 1761 cells with a value of NaN
Column 'URXUMA': 0 cells with a value of 0
Column 'URXUMA': 17.95% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'URXUMS': 1761 cells with a value of NaN
Column 'URXUMS': 0 cells with a value of 0
Column 'URXUMS': 17.95% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'URXUCR.x': 1761 cells with a value of NaN
Column 'URXUCR.x': 0 cells with a value of 0
Column 'URXUCR.x': 17.95% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'URXCRS': 1761 cells with a value of NaN
Column 'URXCRS': 0 cells with a value of 0
Column 'URXCRS': 17.95% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'URDACT': 1761 cells with a value of NaN
Column 'URDACT': 0 cells with a value of 0
Column 'URDACT': 17.95% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'WTSAF2YR.x': 6484 cells with a value of NaN
Column 'WTSAF2YR.x': 402 cells with a value of 0
Column 'WTSAF2YR.x': 66.08% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXAPB': 6668 cells with a value of NaN
Column 'LBXAPB': 0 cells with a value of 0
Column 'LBXAPB': 67.95% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBDAPBSI': 6668 cells with a value of NaN
Column 'LBDAPBSI': 0 cells with a value of 0
Column 'LBDAPBSI': 67.95% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSAL': 3260 cells with a value of NaN
Column 'LBXSAL': 0 cells with a value of 0
Column 'LBXSAL': 33.22% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBDSALSI': 3260 cells with a value of NaN
Column 'LBDSALSI': 0 cells with a value of 0
Column 'LBDSALSI': 33.22% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSAPSI': 3261 cells with a value of NaN
Column 'LBXSAPSI': 0 cells with a value of 0
Column 'LBXSAPSI': 33.23% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSASSI': 3262 cells with a value of NaN
Column 'LBXSASSI': 0 cells with a value of 0
Column 'LBXSASSI': 33.24% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSATSI': 3262 cells with a value of NaN
Column 'LBXSATSI': 0 cells with a value of 0
Column 'LBXSATSI': 33.24% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSBU': 3260 cells with a value of NaN
Column 'LBXSBU': 0 cells with a value of 0
Column 'LBXSBU': 33.22% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBDSBUSI': 3260 cells with a value of NaN
Column 'LBDSBUSI': 0 cells with a value of 0
Column 'LBDSBUSI': 33.22% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSC3SI': 3260 cells with a value of NaN
Column 'LBXSC3SI': 0 cells with a value of 0
Column 'LBXSC3SI': 33.22% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSCA': 3302 cells with a value of NaN
Column 'LBXSCA': 0 cells with a value of 0
Column 'LBXSCA': 33.65% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBDSCASI': 3302 cells with a value of NaN
Column 'LBDSCASI': 0 cells with a value of 0
Column 'LBDSCASI': 33.65% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSCH': 3262 cells with a value of NaN
Column 'LBXSCH': 0 cells with a value of 0
Column 'LBXSCH': 33.24% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBDSCHSI': 3262 cells with a value of NaN
Column 'LBDSCHSI': 0 cells with a value of 0
Column 'LBDSCHSI': 33.24% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSCK': 3271 cells with a value of NaN
Column 'LBXSCK': 0 cells with a value of 0
Column 'LBXSCK': 33.33% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSCLSI': 3260 cells with a value of NaN
Column 'LBXSCLSI': 0 cells with a value of 0
Column 'LBXSCLSI': 33.22% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSCR': 3260 cells with a value of NaN
Column 'LBXSCR': 0 cells with a value of 0
Column 'LBXSCR': 33.22% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBDSCRSI': 3260 cells with a value of NaN
Column 'LBDSCRSI': 0 cells with a value of 0
Column 'LBDSCRSI': 33.22% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSGB': 3269 cells with a value of NaN
Column 'LBXSGB': 0 cells with a value of 0
Column 'LBXSGB': 33.31% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBDSGBSI': 3269 cells with a value of NaN
Column 'LBDSGBSI': 0 cells with a value of 0
Column 'LBDSGBSI': 33.31% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSGL': 3260 cells with a value of NaN
Column 'LBXSGL': 0 cells with a value of 0
Column 'LBXSGL': 33.22% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBDSGLSI': 3260 cells with a value of NaN
Column 'LBDSGLSI': 0 cells with a value of 0
Column 'LBDSGLSI': 33.22% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSGTSI': 3261 cells with a value of NaN
Column 'LBXSGTSI': 0 cells with a value of 0
Column 'LBXSGTSI': 33.23% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSIR': 3286 cells with a value of NaN
Column 'LBXSIR': 0 cells with a value of 0
Column 'LBXSIR': 33.49% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBDSIRSI': 3286 cells with a value of NaN
Column 'LBDSIRSI': 0 cells with a value of 0
Column 'LBDSIRSI': 33.49% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSKSI': 3261 cells with a value of NaN
Column 'LBXSKSI': 0 cells with a value of 0
Column 'LBXSKSI': 33.23% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSLDSI': 3262 cells with a value of NaN
Column 'LBXSLDSI': 0 cells with a value of 0
Column 'LBXSLDSI': 33.24% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSNASI': 3260 cells with a value of NaN
Column 'LBXSNASI': 0 cells with a value of 0
Column 'LBXSNASI': 33.22% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSOSSI': 3260 cells with a value of NaN
Column 'LBXSOSSI': 0 cells with a value of 0
Column 'LBXSOSSI': 33.22% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSPH': 3261 cells with a value of NaN
Column 'LBXSPH': 0 cells with a value of 0
Column 'LBXSPH': 33.23% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBDSPHSI': 3261 cells with a value of NaN
Column 'LBDSPHSI': 0 cells with a value of 0
Column 'LBDSPHSI': 33.23% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSTB': 3264 cells with a value of NaN
Column 'LBXSTB': 0 cells with a value of 0
Column 'LBXSTB': 33.26% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBDSTBSI': 3264 cells with a value of NaN
Column 'LBDSTBSI': 0 cells with a value of 0
Column 'LBDSTBSI': 33.26% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSTP': 3269 cells with a value of NaN
Column 'LBXSTP': 0 cells with a value of 0
Column 'LBXSTP': 33.31% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBDSTPSI': 3269 cells with a value of NaN
Column 'LBDSTPSI': 0 cells with a value of 0
Column 'LBDSTPSI': 33.31% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSTR': 3264 cells with a value of NaN
Column 'LBXSTR': 0 cells with a value of 0
Column 'LBXSTR': 33.26% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBDSTRSI': 3264 cells with a value of NaN
Column 'LBDSTRSI': 0 cells with a value of 0
Column 'LBDSTRSI': 33.26% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSUA': 3262 cells with a value of NaN
Column 'LBXSUA': 0 cells with a value of 0
Column 'LBXSUA': 33.24% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBDSUASI': 3262 cells with a value of NaN
Column 'LBDSUASI': 0 cells with a value of 0
Column 'LBDSUASI': 33.24% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXWBCSI': 1269 cells with a value of NaN
Column 'LBXWBCSI': 0 cells with a value of 0
Column 'LBXWBCSI': 12.93% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXLYPCT': 1294 cells with a value of NaN
Column 'LBXLYPCT': 0 cells with a value of 0
Column 'LBXLYPCT': 13.19% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXMOPCT': 1294 cells with a value of NaN
Column 'LBXMOPCT': 0 cells with a value of 0
Column 'LBXMOPCT': 13.19% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXNEPCT': 1294 cells with a value of NaN
Column 'LBXNEPCT': 0 cells with a value of 0
Column 'LBXNEPCT': 13.19% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXEOPCT': 1294 cells with a value of NaN
Column 'LBXEOPCT': 25 cells with a value of 0
Column 'LBXEOPCT': 13.19% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXBAPCT': 1294 cells with a value of NaN
Column 'LBXBAPCT': 1 cells with a value of 0
Column 'LBXBAPCT': 13.19% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBDLYMNO': 1294 cells with a value of NaN
Column 'LBDLYMNO': 0 cells with a value of 0
Column 'LBDLYMNO': 13.19% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBDMONO': 1294 cells with a value of NaN
Column 'LBDMONO': 0 cells with a value of 0
Column 'LBDMONO': 13.19% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBDNENO': 1294 cells with a value of NaN
Column 'LBDNENO': 0 cells with a value of 0
Column 'LBDNENO': 13.19% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBDEONO': 1294 cells with a value of NaN
Column 'LBDEONO': 498 cells with a value of 0
Column 'LBDEONO': 13.19% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBDBANO': 1294 cells with a value of NaN
Column 'LBDBANO': 4801 cells with a value of 0
Column 'LBDBANO': 13.19% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXRBCSI': 1269 cells with a value of NaN
Column 'LBXRBCSI': 0 cells with a value of 0
Column 'LBXRBCSI': 12.93% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXHGB': 1269 cells with a value of NaN
Column 'LBXHGB': 0 cells with a value of 0
Column 'LBXHGB': 12.93% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXHCT': 1269 cells with a value of NaN
Column 'LBXHCT': 0 cells with a value of 0
Column 'LBXHCT': 12.93% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXMCVSI': 1269 cells with a value of NaN
Column 'LBXMCVSI': 0 cells with a value of 0
Column 'LBXMCVSI': 12.93% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXMCHSI': 1269 cells with a value of NaN
Column 'LBXMCHSI': 0 cells with a value of 0
Column 'LBXMCHSI': 12.93% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXMC': 1269 cells with a value of NaN
Column 'LBXMC': 0 cells with a value of 0
Column 'LBXMC': 12.93% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXRDW': 1269 cells with a value of NaN
Column 'LBXRDW': 0 cells with a value of 0
Column 'LBXRDW': 12.93% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXPLTSI': 1269 cells with a value of NaN
Column 'LBXPLTSI': 0 cells with a value of 0
Column 'LBXPLTSI': 12.93% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXMPSI': 1269 cells with a value of NaN
Column 'LBXMPSI': 0 cells with a value of 0
Column 'LBXMPSI': 12.93% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'URXUCL': 7639 cells with a value of NaN
Column 'URXUCL': 0 cells with a value of 0
Column 'URXUCL': 77.85% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'WTSA2YR.x': 7058 cells with a value of NaN
Column 'WTSA2YR.x': 31 cells with a value of 0
Column 'WTSA2YR.x': 71.92% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSCU': 7293 cells with a value of NaN
Column 'LBXSCU': 0 cells with a value of 0
Column 'LBXSCU': 74.32% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBDSCUSI': 7293 cells with a value of NaN
Column 'LBDSCUSI': 0 cells with a value of 0
Column 'LBDSCUSI': 74.32% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSSE': 7294 cells with a value of NaN
Column 'LBXSSE': 0 cells with a value of 0
Column 'LBXSSE': 74.33% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBDSSESI': 7294 cells with a value of NaN
Column 'LBDSSESI': 0 cells with a value of 0
Column 'LBDSSESI': 74.33% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBXSZN': 7294 cells with a value of NaN
Column 'LBXSZN': 0 cells with a value of 0
Column 'LBXSZN': 74.33% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'LBDSZNSI': 7294 cells with a value of NaN
Column 'LBDSZNSI': 0 cells with a value of 0
Column 'LBDSZNSI': 74.33% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'URXUCR.y': 7132 cells with a value of NaN
Column 'URXUCR.y': 0 cells with a value of 0
Column 'URXUCR.y': 72.68% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'WTSB2YR.x': 7036 cells with a value of NaN
Column 'WTSB2YR.x': 50 cells with a value of 0
Column 'WTSB2YR.x': 71.70% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'URXBP3': 7127 cells with a value of NaN
Column 'URXBP3': 0 cells with a value of 0
Column 'URXBP3': 72.63% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'URDBP3LC': 7127 cells with a value of NaN
Column 'URDBP3LC': 2599 cells with a value of 0
Column 'URDBP3LC': 72.63% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'URXBPH': 7127 cells with a value of NaN
Column 'URXBPH': 0 cells with a value of 0
Column 'URXBPH': 72.63% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'URDBPHLC': 7127 cells with a value of NaN
Column 'URDBPHLC': 2578 cells with a value of 0
Column 'URDBPHLC': 72.63% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'URXBPF': 7131 cells with a value of NaN
Column 'URXBPF': 0 cells with a value of 0
Column 'URXBPF': 72.67% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'URDBPFLC': 7131 cells with a value of NaN
Column 'URDBPFLC': 1733 cells with a value of 0
Column 'URDBPFLC': 72.67% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'URXBPS': 7131 cells with a value of NaN
Column 'URXBPS': 0 cells with a value of 0
Column 'URXBPS': 72.67% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'URDBPSLC': 7131 cells with a value of NaN
Column 'URDBPSLC': 2414 cells with a value of 0
Column 'URDBPSLC': 72.67% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'URXTLC': 7127 cells with a value of NaN
Column 'URXTLC': 0 cells with a value of 0
Column 'URXTLC': 72.63% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'URDTLCLC': 7127 cells with a value of NaN
Column 'URDTLCLC': 1046 cells with a value of 0
Column 'URDTLCLC': 72.63% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'URXTRS': 7127 cells with a value of NaN
Column 'URXTRS': 0 cells with a value of 0
Column 'URXTRS': 72.63% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'URDTRSLC': 7127 cells with a value of NaN
Column 'URDTRSLC': 2047 cells with a value of 0
Column 'URDTRSLC': 72.63% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'URXBUP': 7127 cells with a value of NaN
Column 'URXBUP': 0 cells with a value of 0
Column 'URXBUP': 72.63% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'URDBUPLC': 7127 cells with a value of NaN
Column 'URDBUPLC': 840 cells with a value of 0
Column 'URDBUPLC': 72.63% of cells with a value of NaN

,SEQN,URXUMA,URXUMS,URXUCR.x,URXCRS,URDACT,WTSAF2YR.x,LBXAPB,LBDAPBSI,LBXSAL,...,URXUTL,URDUTLLC,URXUTU,URDUTULC,URXUUR,URDUURLC,URXPREG,URXUAS,LBDB12,LBDB12SI
0,73557,4.3,4.3,39.0,3447.6,11.03,NaN,NaN,NaN,4.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,524.0,386.7
1,73558,153.0,153.0,50.0,4420.0,306.00,NaN,NaN,NaN,4.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,507.0,374.2
2,73559,11.9,11.9,113.0,9989.2,10.53,142196.890197,57.0,0.57,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,732.0,540.2
3,73560,16.0,16.0,76.0,6718.4,21.05,NaN,NaN,NaN,NaN,...,0.062,0.0,0.238,0.0,0.0071,0.0,NaN,3.83,NaN,NaN
4,73561,255.0,255.0,147.0,12994.8,173.47,142266.006548,92.0,0.92,4.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225.0,166.1
5,73562,123.0,123.0,74.0,6541.6,166.22,NaN,NaN,NaN,4.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,750.0,553.5
6,73563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,73564,19.0,19.0,242.0,21392.8,7.85,134054.109760,77.0,0.77,3.9,...,0.253,0.0,0.115,0.0,0.0309,0.0,NaN,21.28,668.0,493.0
8,73566,1.3,1.3,18.0,1591.2,7.22,NaN,NaN,NaN,4.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,378.0,279.0
9,73567,35.0,35.0,215.0,19006.0,16.28,NaN,NaN,NaN,4.0,...,0.148,0.0,0.078,0.0,0.0436,0.0,NaN,6.07,194.0,143.2

In [35]:
df_ques = pd.read_csv(path + 'questionnaire.csv')


for column in df_ques.columns:
  total_count = len(df_ques[column])
  zero_count = (df_ques[column] == 0).sum()
  nan_count = (df_ques[column].isna()).sum()
  nan_percentage = (nan_count / total_count) * 100
  print(f"Column '{column}': {nan_count} cells with a value of NaN")
  print(f"Column '{column}': {zero_count} cells with a value of 0")
  print(f"Column '{column}': {nan_percentage:.2f}% of cells with a value of NaN")
  print("--------------------------------------------------------------------------")


df_ques.head(n=10)

Column 'SEQN': 0 cells with a value of NaN
Column 'SEQN': 0 cells with a value of 0
Column 'SEQN': 0.00% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MCQ160L': 4406 cells with a value of NaN
Column 'MCQ160L': 0 cells with a value of 0
Column 'MCQ160L': 43.30% of cells with a value of NaN
--------------------------------------------------------------------------
Column 'MCQ220': 4406 cells with a value of NaN
Column 'MCQ220': 0 cells with a value of 0
Column 'MCQ220': 43.30% of cells with a value of NaN
--------------------------------------------------------------------------

    SEQN  MCQ160L  MCQ220
0  73557      2.0     2.0
1  73558      2.0     2.0
2  73559      2.0     1.0
3  73560      NaN     NaN
4  73561      2.0     2.0
5  73562      2.0     2.0
6  73563      NaN     NaN
7  73564      2.0     2.0
8  73565      2.0     2.0
9  73566      2.0     2.0